body{
    background-color: black;
}
ul{
    list-style-type:none;
}
a[href],a{
    color:white;
    text-decoration: none;
}
header{
    background-color: rgba(79, 0, 153, 0.562);
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}
footer{
    background-color: rgba(79, 0, 153, 0.562);
    height: auto;
    text-align: center;
    padding: 5px;
    margin: 10px;
}
.catalogimage{
    width: 200px;
    height: 200px;
    border: 2px solid #ff9100;
    padding: 5px;
    display: inline;
}
.menuinline{
    margin: 5px;
    color: white;
}
.class1{
    display: inline;
}
.class2{
    display: inline;
}
.container{
    text-align: center;
    width: auto;
}
